
/* Initialisation */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto',Helvetica, sans-serif;
  background-color: #e5e5f7;
}

/*    Header    */
nav{
  margin: 0;
  padding: 0;
  background-color: #004289;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav H2{
  color: #FFFFFF;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 2em;
}

.buttonMenu{
  margin: 0;
  height: 0;
  width: 0;
  fill: #FFFFFF;
}
.menu{
  background-color: #004289;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li{
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 0;
  padding-left: 10px;
  border-right: 1px solid #009fe3;
  text-align: left;
  line-height: 40px;
}

nav li:hover{
  background-color: #009fe3;
}

nav a{
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
  color: #FFFFFF;
}

/* Map */



#map {
  margin: 5px;
  height: 85vh;
  z-index: 10;
  top: 0;
  bottom: 0;
}

/* popup */

div.leaflet-popup-tip,
div.leaflet-popup-content-wrapper {
    background: #009fe3;
    color: #ffffff;
    opacity: 0.9;
  }

.leaflet-container a.leaflet-popup-close-button{
  color: #ffffff !important;
}

div.leaflet-popup-content {
  font-family:'Roboto',Helvetica, sans-serif;
  font-size: 20px;
}



@media screen and (max-width: 650px){
  nav{
    height: 40px;
  }

  .navHead{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 10;
  }

  .navHead h2{
    margin-right: 10px;
  }

  .buttonMenu{
    margin: 10px;
    height: 20px;
    width: 20px;
    top: 0;
  }

  .rotateButton{
    transform: rotate(90deg);
    transition: transform 0.5 ease;
  }

  .menu{
    position: absolute;
    margin-top: 0;
    top: -200px;
    transition: opacity 1s ease;
    opacity: 0;
    z-index: 100;
  }

  .down{
    top: 35px;
    transition: opacity 1s ease;
    opacity: 1;
  }
  nav ul{
    display: flex;
    flex-direction: column;
  }

  nav li{
    width: auto;
    padding: 5px 30px 5px 10px;
    border-right: none;
  }

  nav a{
    word-break: keep-all;
  }

  .map{
    height: 90vh;
  }

}
