/* #3498DB */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7fafb;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#logoColor{
    display: none;
}

[type="text"],[type="number"],[type="date"],[type="time"]{
    border: none;
    height: 100%;
    padding: 0 0 0 10px;
    font-size: 1.1em;
}

[type="radio"]{
    display: none;
}

:focus{
    outline: none;
}

hr{
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #004289, #fff);
}

h2{
    color: #004289;
}

/* Header */
.header{
    display: none;
}


/* form-Header */
.form-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    margin: 20px 30px 15px 30px;
}
.section-id, .section-right{
    display: flex;
    flex-direction: column;
}
.input-id{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(75, 120, 255);
    border: 2px solid rgb(75, 120, 255);
    margin: 5px 0;
    height: 30px;
    width: 300px;
    padding: 0 0 0 5px;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
}

.section-post{
    display: flex;
    justify-content: space-around;
    background-color: rgb(75, 120, 255);
    margin: 5px 0;
    height: 30px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 0 5px;
}

.input-poste label::before{
    content: "";
    height: 15px;
    width: 15px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

.input-poste [type="radio"]:checked + label::before{
    height: 15px;
    width: 15px;
    border: 3px solid white;
    background-color: white;
}

.section-date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(75, 120, 255);
    border: 2px solid rgb(75, 120, 255);
    margin: 5px 0;
    height: 30px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 0 5px;
}

/* form-main */
.form-main{
    margin: 0 30px 15px 30px;
    display: flex;
    flex-direction: column;
}

.form-main h2{
    margin: 0 0 10px 0;
}

.form-main-input-first,
.form-main-input-last{
    background-color: rgb(75, 120, 255);
    border-radius: 5px;
    margin: 5px 0 5px 0;
    padding: 0 0 0 5px;
}

.form-main-input{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 5px;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
}

.form-main-input-radio{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
}

.form-main-input-first{
    width: 100%;
    border: 2px solid rgb(75, 120, 255);
}

.form-main-input-last{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid rgb(75, 120, 255);
    width: 100%;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
}

.form-main-input{
    background-color: rgb(75, 120, 255);
    border: 2px solid rgb(75, 120, 255);
    margin: 5px 0 5px 0;
}

.form-main-input label,
.input-poste label,
.form-main-input-radio label,
.form-main-input-last label,
.week-radio label{
    display: flex;
    align-items: center;
}

.form-main-input label::before,
.form-main-input-radio label::before,
.form-main-input-last label::before,
.week-radio label::before{
    content: "";
    height: 15px;
    width: 15px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

.form-main-input:hover,
.form-main-input-first:hover,
.form-main-input-last:hover{
    background: linear-gradient(to right,rgb(75, 120, 255),rgb(175, 195, 255));
}

.form-main-input [type="radio"]:checked + label::before,
.form-main-input-radio [type="radio"]:checked + label::before,
.form-main-input-last [type="radio"]:checked + label::before,
.week-radio [type="radio"]:checked + label::before{
    height: 15px;
    width: 15px;
    border: 3px solid white;
    background-color: white;
}

.number-week{
    width: 40px;
    border-radius: 10%;
}

.week{
    margin: 2px 0 2px 80px;
}

.week-radio{
    display: flex;
    justify-content: space-around;
    margin: 2px 0 0 0;
}


/* form-footer */
.form-footer-input{
    margin: 10px 25px 15px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.form-footer h2{
    margin: 0 0 10px 30px;
}
.input-week-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(75, 120, 255);
    border: 2px solid rgb(75, 120, 255);
    margin: 5px 5px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 0 5px;
}

.input-week-date label{
    font-size: 12px;
    word-wrap: normal;
    width: 50%;
}

.input-week-date input{
    width: 50%;
    font-size: 12px;
}

.section-drop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px 15px 30px;
    height: 100px;
}

.section-drop p{
    color: rgb(75, 120, 255);
    text-align: center;
}

.section-drop span{
    color: rgb(75, 120, 255);
    text-align: center;
}

.drop-signature{
    width: 400px;
    height: 100px;
    border: 2px dotted rgb(75, 120, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.active-drop{
    border: 2px solid rgb(75, 120, 255);
}

.drop-signature img{
    height: 100%;
    width: 100%;
}

.section-drop button{
    background-color: rgb(75, 120, 255);
    height: 40px;
    width: 150px;
    border: 2px solid rgb(75, 120, 255);
    color: #fff;
    border-radius: 5px;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 120, 255);
    height: 35px;
    width: 150px;
    border: 2px solid rgb(75, 120, 255);
    color: #fff;
    border-radius: 5px;
}

.file button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divButton{
    margin:  0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divButton button{
    margin: 10px;
}

.file [type="file"]{
    display: none;
}

.form_footer_section_boss_sign{
    display: none;
}


/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 650px){
    body{
        overflow: visible;
      }

    .form-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-right{
        justify-content: center;
        align-items: center;
    }

    .section-post{
        width: 300px;
    }

    .section-date{
        width: 300px;
    }

    .form-main-input-first label,
    .form-main-input label,
    .form-main-input-last label{
        font-size: 14px;
    }

    .form-main-input-first label::before,
    .form-main-input label::before,
    .form-main-input-last label::before{
        margin: 0 2px 0 0;
    }

    .form-main-input-last{
        display: flex;
        justify-content: space-between;
    }

    .form-main-input-last [type="text"]{
        width: 120px;
        font-size: 10px;
    }

    .week{
        margin: 10px 0 10px 0;
        padding: 0 0 10px 0;
    }

    .week p{
        text-align: center;
    }

    .week-radio{
        font-size: 12px;
    }

    .week-radio label{
        margin: 10px 0 0 0;
    }

    .week-radio label::before{
        content: "";
        height: 10px;
        width: 10px;
        border: 3px solid white;
        border-radius: 50%;
        margin: 0 2px 0 0;
    }

    .form-footer-input{
        margin: 10px 10px;
    }
    
    .input-week-date{
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        overflow: hidden;
    }

    .input-week-date label{
        width: 100%;
    }

    .input-week-date [type="date"]{
        font-size: 10px;
        margin: 0;
        padding: 0 5px 0 5px;
    }

    .input-week-date ::-webkit-calendar-picker-indicator{
        margin: 0;
    }

    .input-week-date [type="date"],
    .input-week-date [type="number"]
    {
        width: 100%;
        height: 40px;
    }
    
    .section-drop{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 100%;
        margin: 0 0 10px 0;
        padding: 1px;
    }

    .drop-signature{
        height: 90px;
        width: 300px;
        margin: 0 0 10px 0;
    }

    .drop-signature p,
    .drop-signature span{
        display: none;
    }

    .divButton{
        margin: 0 0 10px 0;
    }



  }