
g:hover circle{
  fill:blue;
  transition-duration: 0.5s;
  stroke:blue;

}

g:hover text{
  visibility: visible;
  transition-duration: 0.5s;
}



circle{
  cursor: crosshair;
  opacity:1;
  fill:transparent;
  fill-opacity:0.3;
  stroke-width:0.5;
  /*stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;*/

}

text{
  visibility: hidden;
  font-family: fantasy;
  stroke:blue;
  fill:white;
  fill-opacity:0.3;
}
