
g:hover circle{
  fill:blue;

  stroke:red;

}

g:hover text{
  visibility: visible;

}

g:hover .sous{
  fill:white;
  fill-opacity:0.5;
}

g:hover rect{
  visibility: visible;
}

.home{
  stroke:red;
  fill:blue;
}

g:hover #image886{
  visibility: visible;
  transition-duration: 0.5s;
}


circle{
  cursor: crosshair;
  opacity:1;
  fill:transparent;
  fill-opacity:0.3;
  stroke-width:0.2;

}

text{
  visibility: hidden;
  font-family: fantasy;
  font-size: smaller;
  stroke:blue;
  fill:blue;
  stroke-width:0.3;
  fill-opacity:0.5;
}

rect{
  visibility: hidden;
  stroke:red;
  fill:white;
  stroke-width:0.3;
}

#image886{
    visibility: hidden;
}

a{
  position: absolute;
}
