/* Initialisation */

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", 'Roboto',Helvetica, sans-serif;
}


/*    Header    */
nav{
  margin: 0;
  padding: 0;
  background-color: #369AAF;
}
nav H2{
  color: #FFFFFF;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 2em;
}
nav ul{
  background-color: #369AAF;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li{
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 0;
  padding-left: 10px;
  border-right: 1px solid #34C7B8;
  text-align: left;
  line-height: 40px;
}

nav li:hover{
  background-color: #34C7B8;
}

nav a{
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
  color: #FFFFFF;
}





/*    Zonnig    */
.mapsvg{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;

}

svg{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

g:hover circle{
  fill:blue;
  stroke:red;

}

g:hover text{
  visibility: visible;

}

g:hover .sous{
  fill:white;
  fill-opacity:0.5;
}

g:hover rect{
  visibility: visible;
}

.home{
  stroke:red;
  fill:blue;
}

g:hover #image886{
  visibility: visible;
  transition-duration: 0.5s;
}


circle{
  cursor: crosshair;
  opacity:1;
  fill:transparent;
  fill-opacity:0.3;
  stroke-width:0.2;

}

text{
  visibility: hidden;
  font-family: "Open Sans", 'Roboto',Helvetica, sans-serif;
  font-size: x-small;
  text-align: justify;
  stroke:blue;
  fill:blue;
  stroke-width:0.3;
  fill-opacity:0.5;
}

rect{
  visibility: hidden;
  stroke:red;
  fill:white;
  stroke-width:0.3;
}

#image886{
    visibility: hidden;
}



@media screen and (max-width: 600px){
  nav li{
    width: 20%;
  }
  .mapsvg{
    margin-top: 0;
    padding: 0;
    height: auto;
  }

  svg{
    margin-top: 0;
    padding: 0;
    height: auto;

  }
  }

}


